---
const customInfo = "This is the contact page. Reach out to us for collaborations, support, or inquiries.";
---

<main class="ps-main">
  <div class="ps-window-bar">
    <span class="ps-dot red"></span>
    <span class="ps-dot yellow"></span>
    <span class="ps-dot green"></span>
  </div>
  <div class="ps-header">
    <span class="ps-logo">PS</span>
    <span class="ps-path">C:\Users\webspore&gt;</span>
  </div>
  <div class="ps-output">
    <pre>
{customInfo}

<a href="/about" tabindex="3" class="ps-link">about</a> &nbsp;
<a href="/port" tabindex="4" class="ps-link">portfolio</a> &nbsp;
<a href="/contact" tabindex="5" class="ps-link">contact</a>

PS C:\Users\webspore&gt; <span class="ps-input">_</span>
    </pre>
  </div>
</main>
